body{
  background-color: rgb(230, 230, 230);
}

body h3{
  margin: 20px;
  padding: 50px;
}

body a{
  color:rgb(85, 85, 85);
  cursor: pointer;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

a:hover{
  color: #fff;
}

/* Navbar */
.navbar {
  width:100%;
  display: flex;
  background-color: #b9eebc;
  padding: .5rem;
  justify-content: space-between;
  font-family: 'Courier New', Courier, monospace;
}

.navbar li{
  padding: 1rem;
  margin:auto;
  display: inline;
  max-height: 20px;
}

.navlink{
  color: #222;
}

.navlink:hover{
  background-color:#222;
}

/* Login Page */
.loginPage {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 2rem;
}

.loginForm {
  display: flex;
  flex-direction: column;
  align-self: center;
}

.loginForm input {
  width: 12rem;
  margin: 1rem 0rem;
  align-self: center;
}

.loginForm button {
  margin-top: 1rem;
  max-width: 100px;
  align-self: center;
  background-color: #b9eebc;
}

.loginForm p {
  margin-top: 2rem;
}

/* Violation Card */
.violationCard {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0.5rem 0.5rem;
  margin: 1rem 1rem;
  border: 2px solid black;
  width: 200px;
}

/* User Profile */
.userProfile {
  margin: 2rem;
}

.userProfileViolations {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.footer{
  
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #222;
  color: #b9eebc;
  padding: 1.1rem 0;
  margin: auto;
  font-size: .5em;
  text-align: center;
}

img{
    border-radius:50%;
}