@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

/* General settings */
body{
  background-color: rgb(230, 230, 230);
}

body h3{
  margin: 20px;
  padding: 50px;
}

body a{
  color:rgb(85, 85, 85);
  cursor: pointer;
}

.App {
  text-align: center;
}

a:hover{
  color: #fff;
}

button{
  background-color: #b9eebc;
  font-size: 1.1rem;
  font-family: 'Roboto';
}

::placeholder{
  font-family: 'Roboto';
}

/* Navbar */
.navbar {
  width:100%;
  display: flex;
  background-color: #b9eebc;
  justify-content: space-between;
}

.navbar li{
  padding: 1rem;
  display: inline;
  max-height: 20px;
  margin: 0 0.25rem;
}

.navlink{
  font-family: 'Roboto';
  color: #222;
  padding: 1.05rem;
}

.leftlink{
  font-size: 1.2rem;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
}

.navlink:hover{
  background-color:#222;
}

/* Home Page */
.homePage {
  display: flex;
  flex-direction: column;
  text-align: center;
}

/* Login Page */
.loginPage {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 2rem;
}

.loginForm {
  display: flex;
  flex-direction: column;
  align-self: center;
}

.loginForm input {
  width: 12rem;
  margin: 1rem 0rem;
  align-self: center;
}

.loginForm button {
  margin-top: 1rem;
  max-width: 100px;
  align-self: center;
  background-color: #b9eebc;
  font-size: 1.05rem;
}

.loginForm p {
  margin-top: 2rem;
}

/* Violation Card */
.violationCard {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0.5rem 0.5rem;
  margin: 1rem 1rem;
  border: 2px solid black;
  width: 200px;
}

/* User Profile */
.userProfile {
  margin: 2rem;
}

.userProfileViolations {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
/* Footer */
.phantom{
  display: block;
  padding: 60px;
  height: '60px';
  width: '100%';
}

/* Footer */

.phantom{
  display: block;
  padding: 7rem;
  height: '60px';
  width: '100%';
}

.footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #222;
  color: #b9eebc;
  padding: 0.5rem 0;
  font-size: .5em;
  text-align: center;
}

img{
    border-radius:50%;
}